.box{ width: 16%; height: 96%; margin: 0 2%; border: .1em solid #000; border-radius: .5em; text-align: center; float: left; top: 0; left: 0; }
.list_div { width: 100%; height: 5em; }
.one { background-color: rgba(255, 0, 0, 0.5); height: 100%; }
.two { background-color: rgba(0, 255, 0, 0.5); height: 100%; }
.one1,.two1{ background-color: rgba(37,165,95,0.5); height: 100%; }
.one2 .two2{ background-color: rgba(37,165,95,0.5); height: 100%; }
.one3.two3{ background-color: rgba(37,165,95,0.5); }